<!DOCTYPE html>

<html>
<head>
  <title>Моя музыка</title>
</head>
<body>

  <header>
    <h1>Моя музыка</h1>
  </header>

  <main>
    <div class="albums">
      <h2>Список песен</h2>

      {% for audio_file in audio_files %}

      <div class="song">
        <!-- также другие песни -->

      <div class="song__title" >{{audio_file.split('.')[0]}}</div>
        <div class="song__title" >s</div>
    <audio controls volume="0.2">
        <source src="{{ url_for('get_audio', filename=audio_file) }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <br>
      </div>
    {% endfor %}



    </div>
  </main>

</body>
</html>
